<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cuadern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBE9F8981C80449600453DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBE9F8AC1C80449700453DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBE9F8B71C80449700453DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
